version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: eva3
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - eva-network
    healthcheck:
      test: "mysqladmin ping -h localhost -u root -prootpassword > /dev/null 2>&1"
      interval: 30s
      timeout: 20s
      retries: 10

  backend-app:
    build: ./backend
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/eva3?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootpassword
    networks:
      - eva-network

  frontend-app:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend-app
    networks:
      - eva-network

networks:
  eva-network:

volumes:
  mysql_data: